body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

a {
    text-decoration: none;
    color: #1b98f8;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    letter-spacing: 0.05em;
    font-size: 51.2px;
    line-height: 81.92px;
    letter-spacing: 0.8px;
}

h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    color: rgb(75, 75, 75);
}

.header {
    font-family: 'Josefin Slab', serif;
    max-width: 768px;
    margin: 0 auto;
    padding: 1em;
    text-align: center;
    border-bottom: 1px solid #eee;
    background: #fff;
    letter-spacing: 0.05em;
    font-size: 51.2px;
    line-height: 81.92px;
    letter-spacing: 0.8px;
}
.wrapper-head {
    z-index: 5000;
    min-width: 100%;
    background: #FFF; /*rgb(122,125,155);*/
    min-height: 50px;
    display: block;
    position: relative;
    vertical-align: middle;
    padding-left: 5px;
    background: rgb(252,252,255);
}

.half-rule { 
    margin-left: 0;
    margin-top: auto;
    text-align: left;
    width: 100%;
    position: inherit;
 }

.wrapper-head-title {
    color: rgb(190,190,250);  
    font-weight: lighter;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    letter-spacing: -.02em;
    float: left;
    margin: 10px;
}

.content {
    margin: 25 auto;
    padding-top: 64px;
    max-width: 700px;
    width: 94%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    letter-spacing: 0.01em;
    color: #777;
}

.footer {
    position: absolute;
    padding-bottom: 40px;
    padding-top: 40px;
    margin-top: 40px;
    font-size: 12px;
    line-height: 1.5;
    color: #767676;
    border-top: 1px solid #eee;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(238, 238, 238);
    right: 0;
    bottom: 0;
    left: 0;
    padding: .5rem;
    background-color: #efefef;
    text-align: center;
}

